html {

}
body {
    background-color: lightgrey;
    width:100%;
}
ul#otis {
    list-style-type: none;
}
div.nav{
    background: orange;
    height: 100%;
    width: 15%;
    position: fixed;
    top:0;
    left:0;
}
div.opt{

}
button{
    height: 30px;
    width: 50px;
}

div.oop{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}